.page {
  width: 350px;
  height: 500px;
  background-color: rgb(211, 208,203);
}

#article_title {  
 font-family: 'Anton', sans-serif;
 color: rgb(70,18,32);
 text-shadow: 2px 2px 5px #ff0000;
 font-size:180%;
 margin-left: 20px;
}

#intro {
  font-family: 'Oswald', sans-serif;
  color: rgb(140,47,57);
  font-size: 90%;
  margin-left: 20px;
  margin-right: 20px;
  line-height: 180%;
}

.question{
  font-family: 'Raleway', sans-serif;
  color: rgb(76,87,96);
  font-size: 70%;
  font-weight: 700;  
  padding-top:0;
  margin-bottom:0;
  margin-left: 20px;
  margin-right: 20px;
}

.answer{
  font-family: 'Raleway', sans-serif;
  color: rgb(76,87,96);
  font-size: 70%;
  font-weight: 300;
  margin:0;
  margin-left: 20px;
  margin-right: 20px;
}

#block_quote {
  font-family: 'Oswald', sans-serif;
  color: rgb(140,47,57);
  border-color: grey;
  border-style: solid;
  border-width: 1px;
  box-shadow: 10px 10px 1px grey;
  margin-left: 70px;
  margin-right:70px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 100%;
}